<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="google-site-verification" content="UH3HJEeCS-8mejN-dGzJ8cNYMfGLmedYR7rmwUwPXxM"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <title>Work with us | Mirumee</title>
  
  <meta name="description" content="We're looking for someone like you! That is if you happen to have an exquisite taste for quality or fancy a game of pool every now and then." />
  <meta property="og:description" content="We're looking for someone like you! That is if you happen to have an exquisite taste for quality or fancy a game of pool every now and then." />

<meta property="og:title" content="Work with us | Mirumee" />
<meta property="og:type" content="website" />

  <meta property="og:image" content="https://mirumee.com/img/header-base.png" />


  <meta property="og:url" content="http://mirumee.com/jobs/senior-designer" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mirumeelabs" />

  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

  
  <script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://mirumee.com",
    "name": "Mirumee Software",
    "description": "Mirumee is a software house specializing in high performance Python & Django, JavaScript & React web and e-commerce applications. Services include custom software development, analysis and solutions to critical issues for companies worldwide.",
    "author": {
      "@type": "Organization",
      "legalName": "Mirumee Software sp. z.o.o.",
      "name": "Mirumee Software",
      "contactPoint": [{
        "@type": "ContactPoint",
        "email": "hello@mirumee.com",
        "contactType": "customer service",
        "url": "https://mirumee.com"
      }],
      "logo": "https://mirumee.com/img/logo.svg",
      "sameAs": [
        "http://twitter.com/mirumeelabs",
        "https://github.com/mirumee",
        "https://www.facebook.com/mirumeelabs/",
        "https://www.behance.net/Mirumee",
        "https://dribbble.com/mirumee",
        "https://www.linkedin.com/company/mirumee-software",
        "https://clutch.co/profile/mirumee"
      ]
    }
  }
  
    , {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      
      
      
      
      
      
      
      
      
      
      
    ]
  }
  
]
</script>

<link href="/static/css/app.8b0581e2f0c3e46c5606.css?8b0581e2f0c3e46c5606" rel="stylesheet"></head>
<body>
  
    <nav id="nav-bar" class="navbar navbar-custom jobs-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#top-menu-collapse">
            <div id="nav-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
          <a class="navbar-brand" href="/">
            <img class="navbar-logo" alt="Mirumee Software" src="/static/img/logo-white.svg">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu-collapse">
          <ul class="nav navbar-nav navbar-right">
            
              <li><a href="/services">Services</a></li>
              
              <li><a href="/how-we-work/">How We Work</a></li>
              
              <li><a href="/#showcase">Showcase</a></li>
              
              <li><a href="/#opensource">Opensource</a></li>
              
              <li><a href="/#team">Team</a></li>
              
              <li><a href="https://blog.mirumee.com/">Blog</a></li>
              
              <li><a href="/jobs">Careers</a><span class="job-counter">7</span></li>
              
              <li><a class="hire-btn" href="/hire-us">hire us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  

<div class="section header">
  <div class="header-hero job-description-header"></div>
  <div class="job-description">
    <div class="container ">
      <div class="job-description-content">
        <div class="job-tittle">
          <h3 class="text-center">Senior Designer</h3>
          <p>Wroclaw</p>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h5>Your responsibilities:</h5>
            <ul>
              
                <li>Creating delightful, thought-through experiences</li>
              
                <li>Concept and style guide development for internal and client projects</li>
              
                <li>Building presentations and deliver asset kits to developers and other team members</li>
              
                <li>Proactive problem solving</li>
              
                <li>Exploring the latest design trends</li>
              
            </ul>
          </div>
          <div class="col-sm-6">
            <h5>Your profile:</h5>
            <ul>
              
                <li>5+ years of design and interactive work experience</li>
              
                <li>Strong knowledge of visual design, user-centered experience design, interaction design, brand development, and the creative process</li>
              
                <li>A real passion for design, creativity, digital experience and technology</li>
              
                <li>Not being afraid of taking control, breaking the rules, or designing unusual experiences</li>
              
                <li>Good command of English (both written and spoken)</li>
              
            </ul>
          </div>
        </div>
        <div class="apply-btn">
          <a href="mailto:hello+work@mirumee.com?subject=Senior Designer" class="btn">Apply now</a>
        </div>
      </div>
    </div>
  </div>
  <div id="openings" class="container">
    <p class="text-center">Take a look at other oppenings at Mirumee</p>
    <div class="row jobs-list">
  <div class="col-sm-4">
    <div class="job-card">
      <div class="job-position">
        <h5><a href="/ux-ui-designer">Senior UX/UI<br>Designer</a></h5>
        <p><small>Wroclaw</small></p>
      </div>
      <div class="more-btn">
        <a href="/ux-ui-designer" class="btn">Find out more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="job-card">
      <div class="job-position">
        <h5><a href="/senior-designer">Senior<br> Designer</a></h5>
        <p><small>Wroclaw</small></p>
      </div>
      <div class="more-btn">
        <a href="/senior-designer" class="btn">Find out more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="job-card">
      <div class="job-position">
        <h5><a href="/python-django-developer">PYTHON/DJANGO<br>DEVELOPER</a></h5>
        <p><small>Wroclaw</small></p>
      </div>
      <div class="more-btn">
        <a href="/python-django-developer" class="btn">Find out more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="job-card">
      <div class="job-position">
        <h5><a href="/business-development-manager">BUSINESS<br>DEVELOPMENT MANAGER</a></h5>
        <p><small>LONDON/SAN FRANCISCO/NEW YORK</small></p>
      </div>
      <div class="more-btn">
        <a href="/business-development-manager" class="btn">Find out more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="job-card">
      <div class="job-position">
        <h5><a href="/devops-cloud-engineer">Devops Cloud<br>Engineer</a></h5>
        <p><small>Wroclaw</small></p>
      </div>
      <div class="more-btn">
        <a href="/devops-cloud-engineer" class="btn">Find out more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="job-card">
      <div class="job-position">
        <h5><a href="/senior-front-end-developer">SENIOR FRONT-END<br>DEVELOPER</a></h5>
        <p><small>Wroclaw</small></p>
      </div>
      <div class="more-btn">
        <a href="/senior-front-end-developer" class="btn">Find out more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="job-card">
        <div class="job-position">
          <h5><a href="/content-marketing-specialist">CONTENT MARKETING<br>SPECIALIST</a></h5>
          <p><small>Wroclaw</small></p>
        </div>
        <div class="more-btn">
          <a href="/content-marketing-specialist" class="btn">Find out more</a>
        </div>
      </div>
    </div>
</div>

  </div>
</div>
<div class="section section-hq jobs-hq">
  <div class="address-bottom">
    <div class="col-sm-12">
      <h2>HQ</h2>
      <p><span>Mirumee, Tęczowa 7<br>53-601 Wrocław, <br>Poland</span></p>
    </div>
  </div>
  <div id="jobs-map"></div>
</div>
<div class="interview section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>What to expect on your interview</h3>
        <p><strong>No whiteboards, no riddles.</strong><br>Pair programming and code review using one of the issues (or Pull Requests) in our <a href="http://getsaleor.com/" target="_blank" rel="nofollow noopener">open-source Saleor</a> project, plus a general discussion about programming, technology and your experience.</p>
      </div>
    </div>
    <div class="step-first">
      <img src="/static/img/img_job/mail-icon.svg">
      <p><small>Send your CV (in Polish or in English), Portfolio or Github</small></p>
    </div>
    <div class="step-last hidden-xs">
      <img src="/static/img/img_job/flask-icon.svg">
      <p><small>You are the choosen&nbsp;one</small></p>
    </div>
    <div class="dot-left"></div>
    <div class="dot-right"></div>
  </div>
</div>
<div class="interview-line section container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-4">
        <div class="interview-step">
          <p class="step-title"><strong><span class="step">STEP 01</span><br>Theory</strong></p>
          <p>30-60 minutes theoretical interview directly related to the skills required on your position.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="interview-step">
          <p class="step-title"><strong><span class="step">STEP 02</span><br>Practice</strong></p>
          <p>30-60 minutes of pair programming or working on a task independently (we provide all the hardware required).</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="interview-step">
          <p class="step-title"><strong><span class="step">STEP 03</span><br>Culture</strong></p>
          <p>Discussion about your experience and responsibilities in your previous projects. Q&amp;A. Meeting with Mirumee team members.</p>
        </div>
      </div>
      <div class="step-last visible-xs-block">
        <img src="/static/img/img_job/flask-icon.svg">
        <p><small>You are the choosen&nbsp;one</small></p>
      </div>
    </div>
  </div>
</div>
<div class="section desc">
  <div class="container text-center">
    <div class="col-md-10 col-md-offset-1">
      <h3>We build <strong>solid and maintainable products</strong></h3>
      <p><strong>You can work in one of the world’s best Django teams.</strong></p><p>You will have the chance to experience challenging large-scale e-commerce in action, which is both modern and bespoke. You will be able to work with us on non trivial problems, learn new technologies, participate in conferences of your choice and work side by side with our best programmers on valuable open-source projects.</p>
    </div>
  </div>
  <div class="container pros">
    <div class="col-md-2 col-xs-6">
      <img src="/static/img/img_job/pros1.png" srcset="/static/img/img_job/pros1.png 1x, /static/img/img_job/pros1@2x.png 2x">
      <h5>Code quality</h5>
    </div>
    <div class="col-md-2 col-xs-6">
      <img src="/static/img/img_job/pros2.png" srcset="/static/img/img_job/pros2.png 1x, /static/img/img_job/pros2@2x.png 2x">
      <h5>Worldwide clients &amp; challenges</h5>
    </div>
    <div class="col-md-2 col-xs-6">
      <img src="/static/img/img_job/pros3.png" srcset="/static/img/img_job/pros3.png 1x, /static/img/img_job/pros3@2x.png 2x">
      <h5>Creative enviroment</h5>
    </div>
    <div class="col-md-2 col-xs-6">
      <img src="/static/img/img_job/pros4.png" srcset="/static/img/img_job/pros4.png 1x, /static/img/img_job/pros4@2x.png 2x">
      <h5>Rooted in open-source culture</h5>
    </div>
    <div class="col-md-2 col-xs-6">
      <img src="/static/img/img_job/pros5.png" srcset="/static/img/img_job/pros5.png 1x, /static/img/img_job/pros5@2x.png 2x">
      <h5>Great team work</h5>
    </div>
    <div class="col-md-2 col-xs-6">
      <img src="/static/img/img_job/pros6.png" srcset="/static/img/img_job/pros6.png 1x, /static/img/img_job/pros6@2x.png 2x">
      <h5>Importance of the detail</h5>
    </div>
  </div>
  <div class="container text-center tools">
    <div class="col-md-10 col-md-offset-1">
      <h3>You will work with <strong>modern tools</strong></h3>
      <p>We are proactive partners with our clients. We use tools we see as the best fit. We often include cutting-edge technologies in our work and research. We love challenging ourselves and we tweak our toolkit on daily basis.</p>
    </div>
    <div class="col-xs-12">
      <ul>
        <li><a href="https://www.postgresql.org/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/postgresql-logo.svg" title="PostgreSQL"></a></li>
        <li><a href="https://www.docker.com/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/docker-logo.svg" title="Docker"></a></li>
        <li><a href="https://redis.io/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/redis-logo.svg" title="Redis"></a></li>
        <li><a href="https://www.djangoproject.com/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/django-logo.svg" title="Django"></a></li>
      </ul>
      <ul>
        <li><a href="https://facebook.github.io/react/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/react-logo.svg" title="React"></a></li>
        <li><a href="https://www.python.org/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/python-logo.svg" title="Python"></a></li>
        <li><a href="https://www.elastic.co/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/elasticsearch-logo.svg" title="Elasticsearch"></a></li>
        <li><a href="https://circleci.com/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/sircleci-logo.svg" title="CircleCI"></a></li>
        <li><a href="https://github.com/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/github-logo.svg" title="GitHub"></a></li>
      </ul>
      <ul>
        <li><a href="https://aws.amazon.com/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/aws-logo.svg" title="Amazon Web Services"></a></li>
        <li><a href="https://slack.com/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/slack-logo.svg" title="Slack"></a></li>
        <li><a href="https://cloud.google.com/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/gcloud-logo.svg" title="Google Cloud Platform"></a></li>
        <li><a href="http://es6-features.org/" target="_blank" rel="nofollow noopener"><img src="/static/img/img_job/es6-logo.svg" title="ECMAScript 6"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="section clutch" id="testimonials">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3 class="clutch-testimonials">Read <strong>what our customers says about us</strong></h3>
        <div id="clutch-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <p><a href="https://clutch.co/profile/mirumee#review-239481" title="Read full review on Clutch" target="_blank" rel="nofollow noopener">"Mirumee integrated well with multiple teams, delivered results quickly and reliably, and adapted easily to changes. The team was engaged and offered valuable recommendations on deployment flow changes and version management. The only reason I wouldn’t recommend them, is because I want to work with them."</a><br><br><span><strong>Christoph Kepper</strong>, Lulu Press</span></p>
            </div>
            <div class="item">
              <p><a href="https://clutch.co/profile/mirumee#review-93131" title="Read full review on Clutch" target="_blank" rel="nofollow noopener">"The response time of the website has improved dramatically. We’re down around the&nbsp;1-second mark whereas previously we were 3.5-4 seconds on average. We've also been able to maintain that response time during extreme high-traffic. Mirumee has a highly skilled, passionate, and responsive team that is able to produce high-quality results."</a><br><br><span><strong>Tim Kalic</strong>, Pretty Green</span></p>
            </div>
            <div class="item">
              <p><a href="https://clutch.co/profile/mirumee#review-127230" title="Read full review on Clutch" target="_blank" rel="nofollow noopener">"Mirumee is careful about considering requirements and constraints. We had honest and direct communication. Mirumee's strength comes in their ability to deliver quality results and the competency of their team. With a single point-of-contact on their team, communication has been streamlined and projects have been efficiently managed."</a><br><br><span><strong>Aleksandr Vladimirskiy</strong>, Sonato</span></p>
            </div>
            <div class="item">
              <p><a href="https://clutch.co/profile/mirumee#review-109391" title="Read full review on Clutch" target="_blank" rel="nofollow noopener">"Saleor, the e-commerce package which Mirumee supports and develops can provide the equivalent e-commerce functionalities of a Magento implementation which could have a six-figure cost. The deliverables were high quality and deadlines were consistently met. Mirumee went above and beyond, providing service after the project's completion."</a><br><br><span><strong>Bobby Beckmann</strong>, Lifesize</span></p>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#clutch-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#clutch-carousel" data-slide-to="1"></li>
            <li data-target="#clutch-carousel" data-slide-to="2"></li>
            <li data-target="#clutch-carousel" data-slide-to="3"></li>
          </ol>
          <a class="left carousel-control" href="#clutch-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#clutch-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section progress">
  <div class="container text-center">
    <div class="col-md-10 col-md-offset-1">
      <h3>This is how you would <strong>progress at Mirumee</strong></h3>
      <p>We are focused on your progress - If you still lack experience or expertise in some field, our goal is to help you become an outstanding senior developer. If you are already confident about your skills, we will put you in the driving seat and give you the enviroment to further progress your leadship skills and other competencies.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="progress-step">
          <h5>If you’re a JUNIOR...</h5>
          <p>We offer mentorship and growth. We will give you time, and resources, to gain great experience working side by side with more experienced developers.<br>
          You will receive code review feedback and guidance. We will also watch you closely and as soon as you are ready to increase your responsibility, we will eventually put you in charge of a smaller project.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="progress-step">
          <h5>IF YOU’RE MORE EXPERIENCED...</h5>
          <p>Then you will have plenty of opportunities to sit in the driver’s seat. You will be responsible for architectural decisions, planning and most likely will be in charge of a small team, that is if you want to be a leader. <br> Our effort will focus on helping you grow your leadership skills and aquire new experience with the latest trends and tools.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section extras">
  <div class="container text-center">
    <div class="col-md-10 col-md-offset-1">
      <h3>ADDED <strong>EXTRAS</strong></h3>
      <p>This does not really make us special. This is also not something we would like to brag about. Your comfort and health is super important to us. After all, who doesn’t like to grab some snacks now and then or go to an interesting conference? </p>
      <p>Happy programmers means progress. Progress means great products.</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra1.png" srcset="/static/img/img_job/extra1.png 1x, /static/img/img_job/extra1-2x.png 2x">
        <h5>geek playground ps wii oculus</h5>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra2.png" srcset="/static/img/img_job/extra2.png 1x, /static/img/img_job/extra2-2x.png 2x">
        <h5>BENEFIT MULTISPORT GYM</h5>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra3.png" srcset="/static/img/img_job/extra3.png 1x, /static/img/img_job/extra3-2x.png 2x">
        <h5>TALKS &amp; FREE CONFERENCES </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra4.png" srcset="/static/img/img_job/extra4.png 1x, /static/img/img_job/extra4-2x.png 2x">
        <h5>Food &amp; Snacks</h5>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra5.png" srcset="/static/img/img_job/extra5.png 1x, /static/img/img_job/extra5-2x.png 2x">
        <h5>Bike Friendly</h5>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra6.png" srcset="/static/img/img_job/extra6.png 1x, /static/img/img_job/extra6-2x.png 2x">
        <h5>English lessons with native speaker</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra7.png" srcset="/static/img/img_job/extra7.png 1x, /static/img/img_job/extra7-2x.png 2x">
        <h5>NICE CUSTOM OFFICE SPACE </h5>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra8.png" srcset="/static/img/img_job/extra8.png 1x, /static/img/img_job/extra8-2x.png 2x">
        <h5>FLEXIBLE HOME/OFFICE WORK </h5>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/img_job/extra9.png" srcset="/static/img/img_job/extra9.png 1x, /static/img/img_job/extra9-2x.png 2x">
        <h5>DIVERSITY INCL. CULTURE ENVIROMENT</h5>
      </div>
    </div>
    <div class="row apply-now">
      <img src="/static/img/img_job/hand-mail.png" srcset="/static/img/img_job/hand-mail.png 1x, /static/img/img_job/hand-mail2x.png 2x">
      <p><a href="#openings" class="btn">Apply now</a></p>
      <p><strong>If there is no exact match among our current openings...</strong><br>Then don’t hesitate to write us anyway, we are always looking for talented people.</p>
      <p><a href="mailto:hello+work@mirumee.com"><strong>hello+careers@mirumee.com</strong></a></p>
    </div>
  </div>
</div>
<div class="section gallery">
  <div class="row main">
    <div class="col-md-6">
      <div class="image one-one contain gallery-1"></div>
    </div>
    <div class="col-md-6 ">
      <div class="row">
        <div class="col-md-6">
          <div class="image contain one-one gallery-2"></div>
        </div>
        <div class="col-md-6">
          <div class="image research one-one gallery-3"></div>
        </div>
      </div>
      <div class="row sub">
        <div class="col-md-12">
          <div class="image contain one-two gallery-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row main">
    <div class="col-md-12">
      <div class="image cover one-three gallery-5"></div>
    </div>
  </div>
  <div class="row main">
    <div class="col-md-4">
      <div class="image cover one-two gallery-6"></div>
    </div>
    <div class="col-md-4">
      <div class="image cover one-two gallery-7"></div>
    </div>
    <div class="col-md-4">
      <div class="image cover one-two gallery-8"></div>
    </div>
  </div>
  <div class="row main">
    <div class="col-md-6">
      <div class="image image cover one-two gallery-9"></div>
    </div>
    <div class="col-md-6">
      <div class="image image cover one-two gallery-10"></div>
    </div>
  </div>
</div>


  


<footer class="section section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 columns">
        <h2>Last but not&nbsp;least</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>Contact</h4>
        <p><a href="/hire-us">Business inquiry</a></p>
        <p><a href="mailto:hello+partner@mirumee.com">Become a partner</a></p>
        <p><a href="mailto:hello@mirumee.com?subject=Just want to say hello!">Just want to say hello!</a></p>
        <p class="footer-address">
          Mirumee Software sp. z o.o. sp.k.<br/>
          ul. Tęczowa 7<br/>
          53-601 Wrocław, Poland<br/>
          VAT EU: PL8971845922<br/>
          KRS: 0000697262
        </p> 
      </div>
      <div class="col-sm-4">
        <h4>Social</h4>
        <ul>
          <li><a href="http://twitter.com/mirumeelabs" target="_blank" rel="noopener"><img class="img-responsive" title="Twitter" alt="Twitter" src="/static/img/social-twitter.png" srcset="/static/img/social-twitter.png 1x, /static/img/social-twitter@2x.png 2x"></a></li>
          <li><a href="https://github.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="GitHub" alt="GitHub" src="/static/img/social-github.png" srcset="/static/img/social-github.png 1x, /static/img/social-github@2x.png 2x"></a></li>
          <li><a href="https://www.facebook.com/mirumeelabs/" target="_blank" rel="noopener"><img class="img-responsive" title="Facebook" alt="Facebook" src="/static/img/social-fb.png" srcset="/static/img/social-fb.png 1x, /static/img/social-fb@2x.png 2x"></a></li>
          <li><a href="https://www.behance.net/Mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="Behance" alt="Behance" src="/static/img/social-behance.png" srcset="/static/img/social-behance.png 1x, /static/img/social-behance@2x.png 2x" rel="noopener"></a></li>
          <li><a href="https://dribbble.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="Dribble" alt="Dribble" src="/static/img/social-dribble.png" srcset="/static/img/social-dribble.png 1x, /static/img/social-dribble@2x.png 2x"></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Openings</h4>
        <p><a href="/ux-ui-designer/">Senior UX/UI Designer</a></p>
        <p><a href="/senior-designer">Senior Designer</a></p>
        <p><a href="/python-django-developer">Python/Django Developer</a></p>
        <p><a href="/business-development-manager">Business Development Manager</a></p>
        <p><a href="/devops-cloud-engineer">DevOps Cloud Engineer</a></p>
        <p><a href="/senior-front-end-developer">Senior Frontend Developer</a></p>
        <p><a href="/content-marketing-specialist">Marketing Content Specialist</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="copyright">Copyright &copy; 2009&ndash;2018 Mirumee&nbsp;Software</p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHGURHKG8ve91SoOfyw2aohsXsCGrGbQs"></script>


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10159761-7']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:480056,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script type="text/javascript" src="/js/app.8b0581e2f0c3e46c5606.js?8b0581e2f0c3e46c5606"></script><script type="text/javascript" src="/js/jobs_map.8b0581e2f0c3e46c5606.js?8b0581e2f0c3e46c5606"></script></body>
</html>

