<!doctype html>
<html class="no-js" lang="en">
{% load staticfiles %}
<head>
  <meta charset="utf-8"/>
  <meta name="google-site-verification" content="UH3HJEeCS-8mejN-dGzJ8cNYMfGLmedYR7rmwUwPXxM"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <title>We build WebApps. Better. | Mirumee</title>
  
  <meta name="description" content="Meet world-class Python & Django, JavaScript & React developers, geeks and creators. We translate ideas into maintainable software that have helped grow businesses worldwide since 2009." />
  <meta property="og:description" content="Meet world-class Python & Django, JavaScript & React developers, geeks and creators. We translate ideas into maintainable software that have helped grow businesses worldwide since 2009." />

<meta property="og:title" content="We build WebApps. Better. | Mirumee" />
<meta property="og:type" content="website" />

  <meta property="og:image" content="https://mirumee.com/img/og-main.jpg" />


  <meta property="og:url" content="https://mirumee.com" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mirumeelabs" />

  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

  
  <script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://mirumee.com",
    "name": "Mirumee Software",
    "description": "Mirumee is a software house specializing in high performance Python & Django, JavaScript & React web and e-commerce applications. Services include custom software development, analysis and solutions to critical issues for companies worldwide.",
    "author": {
      "@type": "Organization",
      "legalName": "Mirumee Software sp. z.o.o.",
      "name": "Mirumee Software",
      "contactPoint": [{
        "@type": "ContactPoint",
        "email": "hello@mirumee.com",
        "contactType": "customer service",
        "url": "https://mirumee.com"
      }],
      "logo": "https://qimete.com/static/img/logo.svg",
      "sameAs": [
        "http://twitter.com/mirumeelabs",
        "https://github.com/mirumee",
        "https://www.facebook.com/mirumeelabs/",
        "https://www.behance.net/Mirumee",
        "https://dribbble.com/mirumee",
        "https://www.linkedin.com/company/mirumee-software",
        "https://clutch.co/profile/mirumee"
      ]
    }
  }
  
]
</script>

<link href="{% static 'css/app.8b0581e2f0c3e46c5606.css' %}" rel="stylesheet"></head>
<body>
  
    <nav id="nav-bar" class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#top-menu-collapse">
            <div id="nav-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
          <a class="navbar-brand" href="/">
            <img class="navbar-logo" alt="Mirumee Software" src="{% static 'img/logo.svg' %}">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu-collapse">
          <ul class="nav navbar-nav navbar-right">
            
              <li><a href="/services">Services</a></li>
              
              <li><a href="/how-we-work/">How We Work</a></li>
              
              <li><a href="/#showcase">Showcase</a></li>
              
              <li><a href="/#opensource">Opensource</a></li>
              
              <li><a href="/#team">Team</a></li>
              
              <li><a href="https://blog.mirumee.com/">Blog</a></li>
              
              <li><a href="/jobs">Careers</a><span class="job-counter">7</span></li>
              
              <li><a class="hire-btn" href="/hire-us">hire us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  

<div class="section section-hero">
  <div class="outer">
    <div class="inner"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="separator"></div>
      <h2>Hello</h2>
      <h3>We're a team of <strong>full-stack developers</strong> <br> specializing in <strong>quality and lean</strong> development of <strong>high performance<br>Python, Django, React & React Native</strong>&nbsp;applications</h3>
      <div class="separator"></div>
    </div>
  </div>
</div>
<div class="section section-clutch" id="testimonials">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="head-logo"><img src="{% static 'img/clutch-logo.png' %}" /></div>
        <div class="content">
          <div class="quote-mark">"</div>
          <p><strong>The response time of the website has improved dramatically.</strong> We’re down below the 1-second mark whereas previously we were 3.5-4 seconds on average. We've also been able to maintain that response time during extreme high-traffic. Mirumee has a highly skilled, passionate, and responsive team that is able to produce high-quality results.</p>
          <div class="author">
            <img src="{% static 'img/tim-photo.png' %}" />
            <h4><strong>Tim Kalic</strong>, Head of Digital, <span>Pretty Green</span></h4>
          </div>
          <a class="more btn" href="https://clutch.co/profile/mirumee" target="_blank">Read all reviews</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-services" id="services">
  <div class="container">
    <div class="triangle">
      <div class="service-build">
        <div class="row">
          <div class="col-sm-12 columns">
            <h2>We build</h2>
            <div class="col-sm-6 columns">
              <div class="highlight highlight-apps">
                <h4>Web &amp; Mobile<br> applications</h4>
                <p>We specialize in Python, Django, NodeJS,<br>React &amp; React Native.<br>We write software that&nbsp;lasts.</p>
              </div>
            </div>
            <div class="col-sm-6 columns">
              <div class="highlight highlight-ux">
                <h4>Great experience<br> &amp; engaging design</h4>
                <p>We craft great user<br> experience. We shape UX through<br> research, data &amp; content&nbsp;analysis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-deliver">
        <div class="row">
          <div class="col-sm-12 columns">
            <h2>We deliver</h2>
            <div class="col-sm-4 columns">
              <div class="highlight highlight-ecommerce">
                <h4>Scalable<br> e-commerce</h4>
                <p>From a hot-dog stand all the way up to a multi-national retail chain. If your business sells things, we can provide a solution built to fit your&nbsp;size.</p>
              </div>
            </div>
            <div class="col-sm-4 columns">
              <div class="highlight highlight-tailored">
                <h4>Tailored<br> experiences</h4>
                <p>Have your application work on any device your audience uses. Receive an experience customized to the context you're&nbsp;in.</p>
              </div>
            </div>
            <div class="col-sm-4 columns">
              <div class="highlight highlight-startups">
                <h4>Smooth<br> launches & support</h4>
                <p>We'll help you build tools that not only solve your problems but we'll also help your solution to stay on top of the game.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><a class="more btn" href="/services" >Find more</a></p>
    <div class="separator"></div>
  </div>
</div>
<div class="section section-showcase" id="showcase">
  <div class="section-header">
    <div class="container">
      <div class="col-sm-12 columns">
        <h2>Showcase</h2>
        <h3 class="showcase-invitation">Bespoke e-commerce, High performance WebApp, Expert consulting.<br>Sometimes also beautiful illustration&nbsp;work.<br>Whatever we do we aim to do it <strong>better</strong>.</h3>
      </div>
    </div>
  </div>
  <div class="section section-clients">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 columns">
          <p>Some of the clients who have trusted&nbsp;us</p>
          <ul>
            <li><a href="https://lulu.com" target="_blank" rel="nofollow noopener" class="lulu-press-logo"><img title="Lulu Press" src="{% static 'img/clients-lulu.svg' %}"></a></li>
            <li><a href="http://www.assemblee-nationale.fr" target="_blank" rel="nofollow noopener" class="assemblee-national-logo"><img title="Assemblée Nationale" src="{% static 'img/clients-assemblee-nationale.svg' %}"></a></li>
            <li><a href="https://prettygreen.com" target="_blank" rel="nofollow noopener"><img title="Pretty Green" src="{% static 'img/clients-prettygreen.svg' %}"></a></li>
            <li><a href="https://www.sonato.com/" target="_blank" rel="nofollow noopener"><img title="Sonato" src="{% static 'img/logo_sonato-dark.svg' %}"></a></li>
            <li><a href="https://www.thebatterysf.com/" target="_blank" rel="nofollow noopener"><img title="The Battery" src="{% static 'img/clients-thebuttery.png' %}"></a></li>
            <li><a href="https://lifesize.com" target="_blank" rel="nofollow noopener"><img title="Lifesize" src="{% static 'img/clients-lifesize.svg' %}"></a></li>
          </ul>
          <ul>
            <li><a href="https://magrudy.com" target="_blank" rel="nofollow noopener"><img title="Magrudy's" src="{% static 'img/clients-magrudys.svg' %}"></a></li>
            <li><a href="http://www.butchershop.co" target="_blank" rel="nofollow noopener"><img title="Butchershop Creative" src="{% static '' %}"></a></li>
            <li><a href="https://divio.com" target="_blank" rel="nofollow noopener"><img title="Divio" src="{% static 'img/clients-divio.png' %}"></a></li>
            <li><a href="https://torchbox.com" target="_blank" rel="nofollow noopener"><img title="Torchbox" src="{% static 'img/clients-torchbox.png' %}"></a></li>
            <li><a href="http://tangentplc.com" target="_blank" rel="nofollow noopener"><img title="Tangent" src="{% static 'img/clients-tangent.png' %}"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section-item">
    <div class="container">
      <div class="section-item-spacer"></div>
      <div class="row item">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
          <img class="item-logo" src="{% static 'img/clients-prettygreen.svg' %}" />
          <div class="section-item-spacer small"></div>
          <h2 class="item-title prettygreen">how to scale global<br> e-commerce business</h2>
          <p class="item-description prettygreen">Pretty Green is a fashion brand founded by Liam Gallagher, one of the most iconic frontmen in music. We were asked to replatform the shop, integrate that with third party solutions and build new infrastructure of the servers.</p>
          <div class="item-details">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-push-8">
                <p>
                  <strong>99,98%</strong>
                  <span class="section-item-spacer small"></span>
                </p>
                <p>UPtime</p>
              </div>
              <div class="col-xs-12 col-md-4">
                <p>
                  <strong><1 sec.</strong>
                  <span class="section-item-spacer small"></span>
                </p>
                <p>response<br> time</p>
              </div>
              <div class="col-xs-12 col-md-4 col-md-pull-8">
                <p>
                  <strong>+30%</strong>
                  <span class="section-item-spacer small"></span>
                </p>
                <p>conversion<br> rate</p>         
              </div>
            </div>
          </div>
          <p class="btn-center">
            <a class="item-btn btn" target="_blank" href="https://www.prettygreen.com/">Visit the website</a>
          </p>
        </div>
        <div class="item-animation prettygreen col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xxlg-5 col-4k-4">
          <img class="img img1" src="{% static 'img/showcase-pg-ipad.png' %}" />
          <img class="img img2" src="{% static 'img/showcase-pg-iphone.png' %}" />
          <img class="img img3" src="{% static 'img/showcase-pg-mcbook.png' %}" />
          <img class="img img4" src="{% static 'img/showcase-pg-screen.png' %}" />
          <img class="img img5" src="{% static 'img/showcase-pg-tee.png' %}" />
        </div>
      </div>
    </div>
  </div>
  <div class="section-item">
    <div class="container">
      <div class="section-item-spacer"></div>
      <div class="row item">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
          <img class="item-logo" src="{% static 'img/clients-lifesize.svg' %}" />
          <div class="section-item-spacer small"></div>
          <h2 class="item-title lifesize">B2B E-COMMERCE FOR<br> VIDEO COLLABORATION<br> PLATFORM</h2>
          <p class="item-description lifesize">We were approached by Lifesize when it was still a part of Logitech. At that time, they didn't yet have an online sales channel. We set to work creating one for them.</p>
          <p class="btn-center">
            <a class="item-btn btn" href="/projects_lifesize/">Read our case study</a>
          </p>
        </div>
        <div class="item-animation lifesize col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xxlg-5 col-4k-4">
          <img class="img img1" src="{% static 'img/showcase-lifesize-mcbook.png' %}" />
          <img class="img img2" src="{% static 'img/showcase-lifesize-headphones.png' %}" />
          <img class="img img3" src="{% static 'img/showcase-lifesize-screen.png' %}" />
          <img class="img img4" src="{% static 'img/showcase-lifesize-screen2.png' %}" />
        </div>
      </div>
    </div>
  </div>
  <div class="section-item">
    <div class="container">
      <div class="section-item-spacer"></div>
      <div class="row item">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
          <img class="item-logo" src="{% static 'img/clients-magrudys.svg' %}" />
          <div class="section-item-spacer small"></div>
          <h2 class="item-title magrudy">From traditional<br> business to successful<br> e-commerce</h2>
          <p class="item-description padded magrudy">In 2014 we were asked to build an e-commerce platform for a family-run bookstore chain in the United Arab Emirates that would offer nearly 9 million unique products.</p>
          <div class="item-details">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <p>
                  <strong>9 mln</strong>
                  <span class="section-item-spacer small"></span>
                </p>
                <p>products</p>
              </div>
              <div class="col-xs-12 col-md-4">
                  <p>
                    <strong>12</strong>
                    <span class="section-item-spacer small"></span>
                  </p>
                  <p>currencies</p>
              </div>
              <div class="col-xs-12 col-md-4">
                  <p>
                    <strong>4.500+</strong>
                    <span class="section-item-spacer small"></span>
                  </p>
                  <p>commits</p>
              </div>
            </div>
          </div>
          <p class="btn-center">
            <a class="item-btn magrudy btn" href="/projects_magrudy/">Read our case study</a>
          </p>
        </div>
        <div class="item-animation magrudy col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xxlg-5 col-4k-4">
          <img class="img img1" src="{% static 'img/showcase-magrudy-ipad.png' %}" />
          <img class="img img2" src="{% static 'img/showcase-magrudy-iphone.png' %}" />
          <img class="img img3" src="{% static 'img/showcase-magrudy-book.png' %}" />
          <img class="img img4" src="{% static 'img/showcase-magrudy-notebook.png' %}" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-creative">
  <div class="ornament-img left"></div>
  <div class="ornament-img right"></div>
  <div class="container">
    <div class="row header">
      <div class="col-sm-12">
        <div class="separator"></div>
        <h2>We are creative</h2>
        <h3>This is the place where we work creatively<br> on ideas that move and inspire.</h3>
      </div>
    </div>
  </div>
  <picture>
    <source media="(max-width: 700px)" sizes="(max-width: 500px) 50vw, 10vw"
      srcset="/static/img/creative-img.png 138w, /static/img/creative-img.png 138w">
    <img src="{% static 'img/creative-img@2x.png' %}" alt="Human">
  </picture>
  <div class="container">
      <div class="row footer">
        <div class="col-sm-12">
        <h3>Check out more of the creative awesomeness</h3>
        <ul class="icons">
          <li><a href="https://www.behance.net/Mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="Behance" alt="Behance" src="{% static 'img/social-behance.png' %}" srcset="/static/img/social-behance.png 1x, /static/img/social-behance@2x.png 2x" rel="noopener"></a></li>
          <li><a href="https://dribbble.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="Dribble" alt="Dribble" src="{% static 'img/social-dribble.png' %}" srcset="/static/img/social-dribble.png 1x, /static/img/social-dribble@2x.png 2x"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="section section-opensource" id="opensource">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>We <img class="heart-icon" src="{% static 'img/heart-icon.svg' %}" alt="love"> giving back</h2>
        <h3>We don't just take what <strong>opensource</strong> has to offer<br> but also contribute as much as&nbsp;possible.</h3>
        <p>
          <picture>
            <source media="(max-width: 455px)" srcset="/static/img/opensource-header-small.png 1x, /static/img/opensource-header-small@2x.png 2x" />
            <source media="(max-width: 750px)" srcset="/static/img/opensource-header-medium.png 1x, /static/img/opensource-header-medium@2x.png 2x" />
            <source srcset="/static/img/opensource-header-large.png 1x, /static/img/opensource-header-large@2x.png 2x" />
            <img src="{% static 'img/opensource-header-small.png' %}">
          </picture>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="highlight">
          <a class="opensource-link" href="http://satchless.com/" target="_blank" rel="noopener"><img class="img-responsive" src="{% static 'img/opensource-satchless.png' %}" srcset="/static/img/opensource-satchless.png 1x, /static/img/opensource-satchless@2x.png 2x" alt="satchless.com"/></a>
          <h4>Satchless</h4>
          <p>E-commerce. For Python.<br>No frameworks&nbsp;attached.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="highlight">
          <a class="opensource-link" href="http://getsaleor.com/" target="_blank" rel="noopener"><img class="img-responsive" src="{% static 'img/opensource-saleor.png' %}" srcset="/static/img/opensource-saleor.png 1x, /static/img/opensource-saleor@2x.png 2x" alt="getsaleor.com"/></a>
          <h4>Saleor</h4>
          <p>A forkable Django storefront<br>powered by&nbsp;Satchless.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="highlight">
          <a class="opensource-link" href="https://github.com/mirumee/django-payments/" target="_blank" rel="noopener"><img class="img-responsive" src="{% static 'img/opensource-payments.png' %}" srcset="/static/img/opensource-payments.png 1x, /static/img/opensource-payments@2x.png 2x" alt="github.com/mirumee/django-payments/"/></a>
          <h4>Payments</h4>
          <p>A multi-gateway payment processing<br>library for&nbsp;Django.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img class="opensource-icon" src="{% static 'img/opensource-icon.png' %}" srcset="/static/img/opensource-icon.png 1x, /static/img/opensource-icon@2x.png 2x" alt=""/>
        <h3 class="opensource-invitation">Hungry for more opensource&nbsp;goodness?</h3>
        <p><a class="btn" href="https://github.com/mirumee" target="_blank" rel="noopener">Find more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="separator"></div>
        <div class="row">
          <div class="col-sm-6">
            <div class="activity">
              <img src="{% static 'img/opensource-mirumee-talks.png' %}" srcset="/static/img/opensource-mirumee-talks.png 1x, /static/img/opensource-mirumee-talks@2x.png 2x" alt=""/>
              <h4>Share.<br>Talk. Learn.</h4>
              <p>Every month we organize <strong><a href="https://meetup.com/Mirumee-Talks/" target="_blank" rel="noopener">Mirumee Talks</a></strong>—an engineering meetup that is free for everyone to come. We love sharing what we know and what we're currently up to in out techy trenches. If you're interested, come and have a beer with&nbsp;us.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="activity">
              <img src="{% static 'img/opensource-django-udh.png' %}" srcset="/static/img/opensource-django-udh.png 1x, /static/img/opensource-django-udh@2x.png 2x" alt=""/>
              <h4>We support<br>our community</h4>
              <p>We believe it's our duty to support the community we're part of. This means both active cooperation and providing financial support. We proudly sponsor <strong><a href="https://djangounderthehood.com/" target="_blank" rel="noopener">Django: Under the Hood</a></strong>. Our developers are also often seen coaching at <strong><a href="https://www.facebook.com/DjangoGirlsWroclaw/" target="_blank" rel="noopener">Django&nbsp;Girls</a></strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Meet the Mirumees</h2>
        <h3>Our humble bunch of geeks,<br>
          developers &amp;&nbsp;artists
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 person">
        <h3>Mirek Mencel <span>CEO, developer</span></h3>
        <img class="img-responsive" srcset="/static/img/team-mirekm.jpg 1x, /static/img/team-mirekm@2x.jpg 2x" srcset alt="Mirek Mencel"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Patryk Zawadzki <span>Development lead</span></h3>
        <img class="img-responsive" src="{% static 'img/team-patrys.jpg' %}" srcset="/static/img/team-patrys.jpg 1x, /static/img/team-patrys@2x.jpg 2x"  alt="Patryk Zawadzki"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Paweł Janczarek <span>Creative lead</span></h3>
        <img class="img-responsive" src="{% static 'img/team-subgrafik.jpg' %}" srcset="/static/img/team-subgrafik.jpg 1x, /static/img/team-subgrafik@2x.jpg 2x" alt="Paweł Janczarek"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 person">
        <h3>Mateusz Dereniowski <span>Python developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-derenio.jpg' %}" srcset="/static/img/team-derenio.jpg 1x, /static/img/team-derenio@2x.jpg 2x" alt="Mateusz Dereniowski"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Michał Ociepka <span>Python/front-end developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-mociepka.jpg' %}" srcset="/static/img/team-mociepka.jpg 1x, /static/img/team-mociepka@2x.jpg 2x" alt="Michał Ociepka"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Marcin Gębala <span>Python developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-elwoodxblues.jpg' %}" srcset="/static/img/team-elwoodxblues.jpg 1x, /static/img/team-elwoodxblues@2x.jpg 2x" alt="Marcin Gębala"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 person">
        <h3>Artur Smęt <span>Python developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-artursmet.jpg' %}" srcset="/static/img/team-artursmet.jpg 1x, /static/img/team-artursmet@2x.jpg 2x," alt="Artur Smęt"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Adam Bogdał <span>Python developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-bogdal.jpg' %}" srcset="/static/img/team-bogdal.jpg 1x, /static/img/team-bogdal@2x.jpg 2x" alt="Adam Bogdał"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Łukasz Węgiel <span>Front-end developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-lwegiel.jpg' %}" srcset="/static/img/team-lwegiel.jpg 1x, /static/img/team-lwegiel@2x.jpg 2x" alt="Łukasz Węgiel"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 person">
        <h3>Mirosława Szewczyk<span>Python developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-mira.jpg' %}" srcset="/static/img/team-mira.jpg 1x, /static/img/team-mira@2x.jpg 2x" alt="Mirosława Szewczyk"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Krzysztof Białogłowicz<span>Front-end developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-krzychub.jpg' %}" srcset="/static/img/team-krzychub.jpg 1x, /static/img/team-krzychub@2x.jpg 2x" alt="Krzysztof Białogłowicz"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Weronika Terpiłowska<span>Junior front-end developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-weronikat.jpg' %}" srcset="/static/img/team-weronikat.jpg 1x, /static/img/team-weronikat@2x.jpg 2x" alt="Weronika Terpiłowska"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 person">
        <h3>Filip Kucharczyk<span>Junior Python Developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-filip.jpg' %}" srcset="/static/img/team-filip.jpg 1x, /static/img/team-filip@2x.jpg 2x" alt="Filip Kucharczyk"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Anna Siwik <span>Junior Python Developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-madame.jpg' %}" srcset="/static/img/team-madame.jpg 1x, /static/img/team-madame@2x.jpg 2x" alt="Anna Siwik"/>
      </div>
      <div class="col-sm-4 person">
        <h3>Krzysztof Wolski<span>Python developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-krzyh.jpg' %}" srcset="/static/img/team-krzyh.jpg 1x, /static/img/team-krzyh@2x.jpg 2x" alt="Krzysztof Wolski"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 person">
        <h3>Mateusz Stanielewicz<span>Front-end Developer</span></h3>
        <img class="img-responsive" src="{% static 'img/team-mst.jpg' %}" srcset="/static/img/team-mst.jpg 1x, /static/img/team-mst@2x.jpg 2x" alt="Mateusz Stanielewicz"/>
      </div>
      <div class="col-sm-4">
        <div class="join">
          <h3><a href="mailto:hello+work@mirumee.com"><span>Join<br>the team <br><span>hello+work@mirumee.com</span></span></a></h3>
        </div>
      </div>
      <div class="col-sm-4 person">
        <h3>Marta Mądra <span>Office manager</span></h3>
        <img class="img-responsive" src="{% static 'img/team-mirumee-office.jpg' %}" srcset="/static/img/team-mirumee-office.jpg 1x, /static/img/team-mirumee-office@2x.jpg 2x" alt="Marta Mądra"/>
      </div>
    </div>
  </div>
  <div class="team-hq"></div>
</div>

  
    <div class="section section-contact" id="contact" >
      <div class="container">
        <div class="row">
          <h2>Work with us</h2>
          <h3 class="contact-email">Our team can be your team</p>
          <p><img class="contact-icon" src="{% static 'img/contact-icon.png' %}" srcset="/static/img/contact-icon.png 1x, /static/img/contact-icon@2x.png 2x" alt=""/></h3>
          <p class="contact-invitation"><strong>Looking for a quote for your next project?</strong></p>
          <p class="contact-invitation">Take a minute and fill out our project initiation&nbsp;form.</p>
          <p><a class="contact-btn btn" href="/hire-us">We can't wait to hear from you!</a></p>
        </div>
      </div>
    </div>
    <div class="section section-hq">
        <div class="address-bottom">
            <div class="col-sm-12">
                <h2>HQ</h2>
                <p><span>Mirumee, Tęczowa 7<br>53-601 Wrocław, <br>Poland</span></p>
            </div>
        </div>
        <div id="hq-map"></div>
    </div>
  


<footer class="section section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 columns">
        <h2>Last but not&nbsp;least</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>Contact</h4>
        <p><a href="/hire-us">Business inquiry</a></p>
        <p><a href="mailto:hello+partner@mirumee.com">Become a partner</a></p>
        <p><a href="mailto:hello@mirumee.com?subject=Just want to say hello!">Just want to say hello!</a></p>
        <p class="footer-address">
          Mirumee Software sp. z o.o. sp.k.<br/>
          ul. Tęczowa 7<br/>
          53-601 Wrocław, Poland<br/>
          VAT EU: PL8971845922<br/>
          KRS: 0000697262
        </p> 
      </div>
      <div class="col-sm-4">
        <h4>Social</h4>
        <ul>
          <li><a href="http://twitter.com/mirumeelabs" target="_blank" rel="noopener"><img class="img-responsive" title="Twitter" alt="Twitter" src="{% static 'img/social-twitter.png' %}" srcset="/static/img/social-twitter.png 1x, /static/img/social-twitter@2x.png 2x"></a></li>
          <li><a href="https://github.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="GitHub" alt="GitHub" src="{% static 'img/social-github.png' %}" srcset="/static/img/social-github.png 1x, /static/img/social-github@2x.png 2x"></a></li>
          <li><a href="https://www.facebook.com/mirumeelabs/" target="_blank" rel="noopener"><img class="img-responsive" title="Facebook" alt="Facebook" src="{% static 'img/social-fb.png' %}" srcset="/static/img/social-fb.png 1x, /static/img/social-fb@2x.png 2x"></a></li>
          <li><a href="https://www.behance.net/Mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="Behance" alt="Behance" src="{% static 'img/social-behance.png' %}" srcset="/static/img/social-behance.png 1x, /static/img/social-behance@2x.png 2x" rel="noopener"></a></li>
          <li><a href="https://dribbble.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive" title="Dribble" alt="Dribble" src="{% static 'img/social-dribble.png' %}" srcset="/static/img/social-dribble.png 1x, /static/img/social-dribble@2x.png 2x"></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Openings</h4>
        <p><a href="/ux-ui-designer">Senior UX/UI Designer</a></p>
        <p><a href="/senior-designer">Senior Designer</a></p>
        <p><a href="/python-django-developer">Python/Django Developer</a></p>
        <p><a href="/business-development-manager">Business Development Manager</a></p>
        <p><a href="/devops-cloud-engineer">DevOps Cloud Engineer</a></p>
        <p><a href="/senior-front-end-developer">Senior Frontend Developer</a></p>
        <p><a href="/content-marketing-specialist">Marketing Content Specialist</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="copyright">Copyright &copy; 2009&ndash;2018 Mirumee&nbsp;Software</p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHGURHKG8ve91SoOfyw2aohsXsCGrGbQs"></script>


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10159761-7']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:480056,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script type="text/javascript" src="{% static 'js/app.8b0581e2f0c3e46c5606.js' %}"></script><script type="text/javascript" src="{% static 'js/map.8b0581e2f0c3e46c5606.js' %}"></script></body>
</html>

