<!doctype html>
<html class="no-js" lang="en">
{% load staticfiles %}
<head>
    <title>{% block title %}奇洛米特{% endblock %}</title>
    {% block meta %}
        <meta charset="utf-8"/>
        <meta name="google-site-verification" content="UH3HJEeCS-8mejN-dGzJ8cNYMfGLmedYR7rmwUwPXxM"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <meta name="description"
              content="Meet world-class Python & Django, JavaScript & React developers, geeks and creators. We translate ideas into maintainable software that have helped grow businesses worldwide since 2009."/>
        <meta property="og:description"
              content="Meet world-class Python & Django, JavaScript & React developers, geeks and creators. We translate ideas into maintainable software that have helped grow businesses worldwide since 2009."/>
        <meta property="og:title" content="We build WebApps. Better. | Mirumee"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://mirumee.com/img/og-main.jpg"/>
        <meta property="og:url" content="https://mirumee.com"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@mirumeelabs"/>
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {% block link %}
        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/manifest.json">
        <link href="{% static 'css/app.8b0581e2f0c3e46c5606.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<!--导航-->
<nav id="nav-bar" class="navbar navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#top-menu-collapse">
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" alt="Mirumee Software" src="{% static 'img/logo.svg' %}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/services">服务</a></li>
                <li><a href="/how-we-work/">介绍</a></li>
                <li><a href="/#showcase">案例</a></li>
                <li><a href="/#opensource">项目</a></li>
                <li><a href="/#team">团队</a></li>
{#                <li><a href="https://blog.mirumee.com/">博客</a></li>#}
{#                <li><a href="/jobs">工作</a><span class="job-counter">7</span></li>#}
                <li><a class="hire-btn" href="/hire-us">雇佣我们</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
    <!--片段-->
    <div class="section section-hero">
        <div class="outer">
            <div class="inner"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="separator"></div>
                <h2>您好</h2>
                <h3>我们是一个<strong>全栈开发者</strong>团队 <br> 我们专注在 <strong>高质量、可交付、高性能</strong><br>
                    app,公众号,小程序,电商，SAAS等软件的开发
                </h3>
                <div class="separator"></div>
            </div>
        </div>
    </div>
    <!--片段-->
    <div class="section section-clutch" id="testimonials">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="head-logo"><img src="{% static 'img/clutch-logo.png' %}"/></div>
                    <div class="content">
                        <div class="quote-mark">"</div>
                        <p><strong>Qimete帮我们部署了电商平台后，我也有了自己的'小米'官网了。现在除了在京东、天猫上面可以销售，我还有了自己的直销平台。
                            现在我的官网、公众号不单纯是一个展示公司动态的地方，我还能在上面卖东西了. QiMeTe的团队，个个都不错，热情、积极、认真的
                            完成了我们这个事儿，合作愉快.</strong>
                        </p>
                        <div class="author">
                            <img src="{% static 'img/tim-photo.png' %}"/>
                            <h4><strong>王梅普</strong>, 董事长, <span>峪尔酒业</span></h4>
                        </div>
                        <a class="more btn" href="https://clutch.co/profile/mirumee" target="_blank">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-services" id="services">
        <div class="container">
            <div class="triangle">
                <div class="service-build">
                    <div class="row">
                        <div class="col-sm-12 columns">
                            <h2>我们开发</h2>
                            <div class="col-sm-6 columns">
                                <div class="highlight highlight-apps">
                                    <h4>apps、公众号、小程序<br>电商平台</h4>
                                    <p>我们专注在Python, Django, NodeJS,<br>React &amp; React Native.我们一直在做软件开发.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 columns">
                                <div class="highlight highlight-ux">
                                    <h4>丰富的项目<br>开发经验</h4>
                                    <p>我们积攒了大量用户经验.我们通过<br>经验、研究、数据、内容、分析等构造良好的用户体验</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-deliver">
                    <div class="row">
                        <div class="col-sm-12 columns">
                            <h2>我们交付</h2>
                            <div class="col-sm-4 columns">
                                <div class="highlight highlight-ecommerce">
                                    <h4>电商平台</h4>
                                    <p>不管是是一个店铺还是一个大型电商品台. 我们都可以提供一种适合您的电商平台,做自己的直销.</p>
                                </div>
                            </div>
                            <div class="col-sm-4 columns">
                                <div class="highlight highlight-tailored">
                                    <h4>定制开发</h4>
                                    <p>让程序在多个平台上用户都可以运行. 根据您的需求，为您开发适合您的业务系统.</p>
                                </div>
                            </div>
                            <div class="col-sm-4 columns">
                                <div class="highlight highlight-startups">
                                    <h4>平滑支持</h4>
                                    <p>我们不仅帮你打造系统，后续我们也会持续和您保持联系帮您打造一个有效的系统.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p><a class="more btn" href="/services">更 多</a></p>
            <div class="separator"></div>
        </div>
    </div>
    <div class="section section-showcase" id="showcase">
        <div class="section-header">
            <div class="container">
                <div class="col-sm-12 columns">
                    <h2>典型案例</h2>
                    <h3 class="showcase-invitation">我们做了一些定制化的电商, 开发一些众筹平台, 给企业提供过信息化咨询.<br>有时也帮企业做一些电商运营
                        .<br>无论我们做什么，我们的目的是帮您把它做的 <strong>更好</strong>.
                    </h3>
                </div>
            </div>
        </div>
        <div class="section section-clients">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 columns">
                        <p>我们的一些合作客户</p>
                        <ul>
                            <li>
                                <a href="https://lulu.com" target="_blank" rel="nofollow noopener"
                                   class="lulu-press-logo">
                                    <img title="Lulu Press" src="{% static 'img/clients-lulu.svg' %}"></a>
                            </li>
                            <li>
                                <a href="http://www.assemblee-nationale.fr" target="_blank" rel="nofollow noopener"
                                   class="assemblee-national-logo">
                                    <img title="Assemblée Nationale"
                                         src="{% static 'img/clients-assemblee-nationale.svg' %}">
                                </a>
                            </li>
                            <li>
                                <a href="https://prettygreen.com" target="_blank" rel="nofollow noopener">
                                    <img title="Pretty Green" src="{% static 'img/clients-prettygreen.svg' %}"></a>
                            </li>
                            <li>
                                <a href="https://www.sonato.com/" target="_blank" rel="nofollow noopener">
                                    <img title="Sonato" src="{% static 'img/logo_sonato-dark.svg' %}"></a>
                            </li>
                            <li>
                                <a href="https://www.thebatterysf.com/" target="_blank" rel="nofollow noopener">
                                    <img title="The Battery" src="{% static 'img/clients-thebuttery.png' %}"></a>
                            </li>
                            <li><a href="https://lifesize.com" target="_blank" rel="nofollow noopener">
                                <img title="Lifesize" src="{% static 'img/clients-lifesize.svg' %}"></a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="https://magrudy.com" target="_blank" rel="nofollow noopener">
                                <img title="Magrudy's" src="{% static 'img/clients-magrudys.svg' %}"></a>
                            </li>
                            <li><a href="http://www.butchershop.co" target="_blank" rel="nofollow noopener">
                                <img title="Butchershop Creative" src="{% static 'img/clients-butchershop.png' %}"></a>
                            </li>
                            <li><a href="https://divio.com" target="_blank" rel="nofollow noopener">
                                <img title="Divio" src="{% static 'img/clients-divio.png' %}"></a>
                            </li>
                            <li><a href="https://torchbox.com" target="_blank" rel="nofollow noopener">
                                <img title="Torchbox" src="{% static 'img/clients-torchbox.png' %}"></a>
                            </li>
                            <li><a href="http://tangentplc.com" target="_blank" rel="nofollow noopener">
                                <img title="Tangent" src="{% static 'img/clients-tangent.png' %}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-item">
            <div class="container">
                <div class="section-item-spacer"></div>
                <div class="row item">
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                        <img class="item-logo" src="{% static 'img/clients-prettygreen.svg' %}"/>
                        <div class="section-item-spacer small"></div>
                        <h2 class="item-title prettygreen">为企业开发直销电商平台</h2>
                        <p class="item-description prettygreen">Pretty Green是Liam Gallagher先生创建的时尚品牌,
                            Liam Gallagher在音乐方面是一个有代表性的前沿人物. 我们利用一些第三方解决方案，并开发了一些Pretty Green的定制化需求，
                            帮助Pretty Green创建他自己的全球直销网店.</p>
                        <div class="item-details">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 col-md-push-8">
                                    <p>
                                        <strong>99,98%</strong>
                                        <span class="section-item-spacer small"></span>
                                    </p>
                                    <p>无故障运行</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <p>
                                        <strong><1 秒.</strong>
                                        <span class="section-item-spacer small"></span>
                                    </p>
                                    <p>响应时间</p>
                                </div>
                                <div class="col-xs-12 col-md-4 col-md-pull-8">
                                    <p>
                                        <strong>+30%</strong>
                                        <span class="section-item-spacer small"></span>
                                    </p>
                                    <p>转化率</p>
                                </div>
                            </div>
                        </div>
                        <p class="btn-center">
                            <a class="item-btn btn" target="_blank" href="https://www.prettygreen.com/">去看看</a>
                        </p>
                    </div>
                    <div class="item-animation prettygreen col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xxlg-5 col-4k-4">
                        <img class="img img1" src="{% static 'img/showcase-pg-ipad.png' %}"/>
                        <img class="img img2" src="{% static 'img/showcase-pg-iphone.png' %}"/>
                        <img class="img img3" src="{% static 'img/showcase-pg-mcbook.png' %}"/>
                        <img class="img img4" src="{% static 'img/showcase-pg-screen.png' %}"/>
                        <img class="img img5" src="{% static 'img/showcase-pg-tee.png' %}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-item">
            <div class="container">
                <div class="section-item-spacer"></div>
                <div class="row item">
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                        <img class="item-logo" src="{% static 'img/clients-lifesize.svg' %}"/>
                        <div class="section-item-spacer small"></div>
                        <h2 class="item-title lifesize">开发电视购物的B2B电商平台</h2>
                        <p class="item-description lifesize">当Lifesize还是罗技科技一部分时,我们就和lifesize合作。那时，他们还没有一个在线销售平台
                            ，我们开始为他创造了一个.</p>
                        <p class="btn-center">
                            <a class="item-btn btn" href="/projects_lifesize/">去看看</a>
                        </p>
                    </div>
                    <div class="item-animation lifesize col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xxlg-5 col-4k-4">
                        <img class="img img1" src="{% static 'img/showcase-lifesize-mcbook.png' %}"/>
                        <img class="img img2" src="{% static 'img/showcase-lifesize-headphones.png' %}"/>
                        <img class="img img3" src="{% static 'img/showcase-lifesize-screen.png' %}"/>
                        <img class="img img4" src="{% static 'img/showcase-lifesize-screen2.png' %}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-item">
            <div class="container">
                <div class="section-item-spacer"></div>
                <div class="row item">
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                        <img class="item-logo" src="{% static 'img/clients-magrudys.svg' %}"/>
                        <div class="section-item-spacer small"></div>
                        <h2 class="item-title magrudy">帮助企业成功转型到电子商品</h2>
                        <p class="item-description padded magrudy">2014年，我们很荣幸为阿拉伯联合酋长国的一个家族书店连锁店开发了一套电子
                            商务平台，这个平台提供近900万种独特的商品。.</p>
                        <div class="item-details">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <p>
                                        <strong>900万</strong>
                                        <span class="section-item-spacer small"></span>
                                    </p>
                                    <p>商品</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <p>
                                        <strong>12种</strong>
                                        <span class="section-item-spacer small"></span>
                                    </p>
                                    <p>支付方式</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <p>
                                        <strong>4.500+</strong>
                                        <span class="section-item-spacer small"></span>
                                    </p>
                                    <p>成交</p>
                                </div>
                            </div>
                        </div>
                        <p class="btn-center">
                            <a class="item-btn magrudy btn" href="/projects_magrudy/">去看看</a>
                        </p>
                    </div>
                    <div class="item-animation magrudy col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xxlg-5 col-4k-4">
                        <img class="img img1" src="{% static 'img/showcase-magrudy-ipad.png' %}"/>
                        <img class="img img2" src="{% static 'img/showcase-magrudy-iphone.png' %}"/>
                        <img class="img img3" src="{% static 'img/showcase-magrudy-book.png' %}"/>
                        <img class="img img4" src="{% static 'img/showcase-magrudy-notebook.png' %}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-creative">
        <div class="ornament-img left"></div>
        <div class="ornament-img right"></div>
        <div class="container">
            <div class="row header">
                <div class="col-sm-12">
                    <div class="separator"></div>
                    <h2>我们很有创意</h2>
                    <h3>这是我们创造性地<br> 运用和激发灵感的创意的地方.</h3>
                </div>
            </div>
        </div>
        <picture>
            <source media="(max-width: 700px)" sizes="(max-width: 500px) 50vw, 10vw"
                    srcset="/static/img/creative-img.png 138w, /static/img/creative-img.png 138w">
            <img src="{% static 'img/creative-img@2x.png' %}" alt="Human">
        </picture>
        <div class="container">
            <div class="row footer">
                <div class="col-sm-12">
                    <h3>查看更多的创造性的精彩内容</h3>
                    <ul class="icons">
                        <li><a href="https://www.behance.net/Mirumee" target="_blank" rel="noopener"><img
                                class="img-responsive" title="Behance" alt="Behance"
                                src="{% static 'img/social-behance.png' %}"
                                srcset="/static/img/social-behance.png 1x, /static/img/social-behance@2x.png 2x"
                                rel="noopener"></a></li>
                        <li><a href="https://dribbble.com/mirumee" target="_blank" rel="noopener"><img
                                class="img-responsive" title="Dribble" alt="Dribble"
                                src="{% static 'img/social-dribble.png' %}"
                                srcset="/static/img/social-dribble.png 1x, /static/img/social-dribble@2x.png 2x"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-opensource" id="opensource">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>我们 <img class="heart-icon" src="{% static 'img/heart-icon.svg' %}" alt="love"> 回馈</h2>
                    <h3>我们不仅仅使用 <strong>开源代码</strong> 去提供服务<br> 我们也贡献开源的项目给大家.
                    </h3>
                    <p>
                        <picture>
                            <source media="(max-width: 455px)"
                                    srcset="/static/img/opensource-header-small.png 1x, /static/img/opensource-header-small@2x.png 2x"/>
                            <source media="(max-width: 750px)"
                                    srcset="/static/img/opensource-header-medium.png 1x, /static/img/opensource-header-medium@2x.png 2x"/>
                            <source srcset="/static/img/opensource-header-large.png 1x, /static/img/opensource-header-large@2x.png 2x"/>
                            <img src="{% static 'img/opensource-header-small.png' %}">
                        </picture>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="highlight">
                        <a class="opensource-link" href="http://satchless.com/" target="_blank" rel="noopener"><img
                                class="img-responsive" src="{% static 'img/opensource-satchless.png' %}"
                                alt="satchless.com"/></a>
                        <h4>Satchless</h4>
                        <p>一个Python编写的电商平台.<br>没有框架依赖.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="highlight">
                        <a class="opensource-link" href="http://getsaleor.com/" target="_blank" rel="noopener"><img
                                class="img-responsive" src="{% static 'img/opensource-saleor.png' %}"
                                alt="getsaleor.com"/></a>
                        <h4>Saleor</h4>
                        <p>一个完善的Django电商项目<br>Satchless开发的.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="highlight">
                        <a class="opensource-link" href="https://github.com/mirumee/django-payments/" target="_blank"
                           rel="noopener"><img class="img-responsive" src="{% static 'img/opensource-payments.png' %}"
                                               alt="github.com/mirumee/django-payments/"/></a>
                        <h4>Payments</h4>
                        <p>使用Django框架开发的多个网关的支付处理平台<br>library for&nbsp;Django.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img class="opensource-icon" src="{% static 'img/opensource-icon.png' %}"
                         srcset="/static/img/opensource-icon.png 1x, /static/img/opensource-icon@2x.png 2x" alt=""/>
                    <h3 class="opensource-invitation">想找到更多的开源项目?</h3>
                    <p><a class="btn" href="https://github.com/mirumee" target="_blank" rel="noopener">查找更多</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="activity">
                                <img src="{% static 'img/opensource-mirumee-talks.png' %}"
                                     alt=""/>
                                <h4>分享.<br>讨论. 学习.</h4>
                                <p>每个月我们会组织一次 <strong><a href="https://meetup.com/Mirumee-Talks/"
                                                         target="_blank" rel="noopener">Mirumee
                                    Talks</a></strong>—一场免费的为大家的技术讨论会. 我们喜欢去分享我们所知道的，以及我们目前在技术竞争中所处的位置.如果有兴趣，欢迎来参与我们。
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="activity">
                                <img src="{% static 'img/opensource-django-udh.png' %}"
                                     alt=""/>
                                <h4>我们支持我们所属的社区</h4>
                                <p>我们相信我们有责任支持我们所属的社区. 这意味着积极合作和提供财政支持. 我们赞助了 <strong><a
                                        href="https://djangounderthehood.com/" target="_blank" rel="noopener">Django:
                                    Under the Hood</a></strong>. 我们的开发人员也经常在 <strong><a
                                        href="https://www.facebook.com/DjangoGirlsWroclaw/" target="_blank"
                                        rel="noopener">Django&nbsp;Girls</a></strong>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>我们的团队成员</h2>
                    <h3>我们是一群不起眼的Geeker,<br>
                        开发工程师 &amp;&nbsp;艺术家
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 person">
                    <h3>Mirek Mencel <span>CEO, developer</span></h3>
                    <img class="img-responsive" src="{% static 'img//team-mirekm.jpg' %}" alt="Mirek Mencel"/>
                </div>
                <div class="col-sm-4 person">
                    <h3>Patryk Zawadzki <span>Development lead</span></h3>
                    <img class="img-responsive" src="{% static 'img/team-patrys.jpg' %}" alt="Patryk Zawadzki"/>
                </div>
                <div class="col-sm-4 person">
                    <h3>Paweł Janczarek <span>Creative lead</span></h3>
                    <img class="img-responsive" src="{% static 'img/team-subgrafik.jpg' %}" alt="Paweł Janczarek"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 person">
                    <h3>Mateusz Dereniowski <span>Python developer</span></h3>
                    <img class="img-responsive" src="{% static 'img/team-derenio.jpg' %}" alt="Mateusz Dereniowski"/>
                </div>
                <div class="col-sm-4 person">
                    <h3>Michał Ociepka <span>Python/front-end developer</span></h3>
                    <img class="img-responsive" src="{% static 'img/team-mociepka.jpg' %}" alt="Michał Ociepka"/>
                </div>
                <div class="col-sm-4 person">
                    <h3>Marcin Gębala <span>Python developer</span></h3>
                    <img class="img-responsive" src="{% static 'img/team-elwoodxblues.jpg' %}" alt="Marcin Gębala"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 person">
                    <h3>Mateusz Stanielewicz<span>Front-end Developer</span></h3>
                    <img class="img-responsive" src="{% static 'img/team-mst.jpg' %}" alt="Mateusz Stanielewicz"/>
                </div>
                <div class="col-sm-4">
                    <div class="join">
                        <h3>
                            <a href="mailto:1642302522@qq.com"><span>加入我们 <br><span>邮箱:1642302522@qq.com</span><br>
                            <span>微信:1642302522</span></span></a>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-4 person">
                    <h3>Marta Mądra <span>Office manager</span></h3>
                    <img class="img-responsive" src="{% static 'img/team-mirumee-office.jpg' %}"
                         alt="Marta Mądra"/>
                </div>
            </div>
        </div>
        <div class="team-hq"></div>
    </div>
    <div class="section section-contact" id="contact">
        <div class="container">
            <div class="row">
                <h2>跟我们工作</h2>
                <h3 class="contact-email">我们的团队可以成为你的团队</p>
                    <p><img class="contact-icon" src="{% static 'img/contact-icon.png' %}"
                            srcset="/static/img/contact-icon.png 1x, /static/img/contact-icon@2x.png 2x" alt=""/></h3>
                <p class="contact-invitation"><strong>为你的项目寻找报价?</strong></p>
                <p class="contact-invitation">可以花点时间t填写我们一个项目启动表，我们给您报价.</p>
                <p><a class="contact-btn btn" href="/hire-us">点击这里询价!</a></p>
            </div>
        </div>
    </div>
    {#<div class="section section-hq">#}
    {#    <div class="address-bottom">#}
    {#        <div class="col-sm-12">#}
    {#            <h2>我们地址</h2>#}
    {#            <p><span>银科大厦<br>53-601 Wrocław, <br>北京市</span></p>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div id="hq-map"></div>#}
    {#</div>#}
{% endblock %}
{% block footer %}
    <footer class="section section-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 columns">
                    <h2>关于我们</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>联系我们</h4>
                    <p><a href="/hire-us">业务咨询</a></p>
                    <p><a href="mailto:1642302522@qq.com">成为一个合伙人</a></p>
                    <p><a href="mailto:1642302522@qq.com?subject=Just want to say hello!">和我们打个招呼!</a></p>
                </div>
                <div class="col-sm-4">

                </div>
                {#            <div class="col-sm-4">#}
                {#                <h4>社交工具</h4>#}
                {#                <ul>#}
                {#                    <li><a href="http://twitter.com/mirumeelabs" target="_blank" rel="noopener"><img#}
                {#                            class="img-responsive" title="Twitter" alt="Twitter"#}
                {#                            src="{% static 'img/social-twitter.png' %}"#}
                {#                            srcset="/static/img/social-twitter.png 1x, /static/img/social-twitter@2x.png 2x"></a></li>#}
                {#                    <li><a href="https://github.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive"#}
                {#                                                                                                 title="GitHub"#}
                {#                                                                                                 alt="GitHub"#}
                {#                                                                                                 src="{% static 'img/social-github.png' %}"#}
                {#                                                                                                 srcset="/static/img/social-github.png 1x, /static/img/social-github@2x.png 2x"></a>#}
                {#                    </li>#}
                {#                    <li><a href="https://www.facebook.com/mirumeelabs/" target="_blank" rel="noopener"><img#}
                {#                            class="img-responsive" title="Facebook" alt="Facebook"#}
                {#                            src="{% static 'img/social-fb.png' %}"#}
                {#                            srcset="/static/img/social-fb.png 1x, /static/img/social-fb@2x.png 2x"></a></li>#}
                {#                    <li><a href="https://www.behance.net/Mirumee" target="_blank" rel="noopener"><img#}
                {#                            class="img-responsive" title="Behance" alt="Behance"#}
                {#                            src="{% static 'img/social-behance.png' %}"#}
                {#                            srcset="/static/img/social-behance.png 1x, /static/img/social-behance@2x.png 2x"#}
                {#                            rel="noopener"></a></li>#}
                {#                    <li><a href="https://dribbble.com/mirumee" target="_blank" rel="noopener"><img#}
                {#                            class="img-responsive" title="Dribble" alt="Dribble"#}
                {#                            src="{% static 'img/social-dribble.png' %}"#}
                {#                            srcset="/static/img/social-dribble.png 1x, /static/img/social-dribble@2x.png 2x"></a></li>#}
                {#                </ul>#}
                {#            </div>#}
                <div class="col-sm-4">
                    <h4>招聘</h4>
                    <p><a href="/ux-ui-designer">高级 UX/UI 设计师</a></p>
                    <p><a href="/senior-designer">资深设计师</a></p>
                    <p><a href="/python-django-developer">Python/Django 开发工程师</a></p>
                    <p><a href="/business-development-manager">市场经理</a></p>
                    <p><a href="/devops-cloud-engineer">DevOps 云工程师</a></p>
                    <p><a href="/senior-front-end-developer">高级前段工程师</a></p>
                    <p><a href="/content-marketing-specialist">营销专家</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright">版权所有 &copy; 2009&ndash;2018 Qimete&nbsp;Software</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block script %}
    <script type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://mirumee.com",
        "name": "Mirumee Software",
        "description": "Mirumee is a software house specializing in high performance Python & Django, JavaScript & React web and e-commerce applications. Services include custom software development, analysis and solutions to critical issues for companies worldwide.",
        "author": {
          "@type": "Organization",
          "legalName": "Mirumee Software sp. z.o.o.",
          "name": "Mirumee Software",
          "contactPoint": [{
            "@type": "ContactPoint",
            "email": "hello@mirumee.com",
            "contactType": "customer service",
            "url": "https://mirumee.com"
          }],
          "logo": "https://qimete.com/static/img/logo.svg",
          "sameAs": [
            "http://twitter.com/mirumeelabs",
            "https://github.com/mirumee",
            "https://www.facebook.com/mirumeelabs/",
            "https://www.behance.net/Mirumee",
            "https://dribbble.com/mirumee",
            "https://www.linkedin.com/company/mirumee-software",
            "https://clutch.co/profile/mirumee"
          ]
        }
      }
    ]




    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHGURHKG8ve91SoOfyw2aohsXsCGrGbQs">
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10159761-7']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
            h._hjSettings = {hjid: 480056, hjsv: 5};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <script type="text/javascript" src="{% static 'js/app.8b0581e2f0c3e46c5606.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map.8b0581e2f0c3e46c5606.js' %}"></script>
{% endblock %}
</body>
</html>

