<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="google-site-verification" content="UH3HJEeCS-8mejN-dGzJ8cNYMfGLmedYR7rmwUwPXxM"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Margrudy case study: From traditional business to successful e-commerce | Mirumee</title>

    <meta name="description"
          content="In 2014 we were asked to build an e-commerce platform for a family-run bookstore chain in the United Arab Emirates that would offer nearly 9 million unique products."/>
    <meta property="og:description"
          content="In 2014 we were asked to build an e-commerce platform for a family-run bookstore chain in the United Arab Emirates that would offer nearly 9 million unique products."/>

    <meta property="og:title"
          content="Margrudy case study: From traditional business to successful e-commerce | Mirumee"/>
    <meta property="og:type" content="website"/>

    <meta property="og:image" content="https://mirumee.com/static/img/projects/magrudy/og-magrudys-case-study.jpg"/>


    <meta property="og:url" content="https://mirumee.com/projects/magrudy"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mirumeelabs"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://mirumee.com",
    "name": "Mirumee Software",
    "description": "Mirumee is a software house specializing in high performance Python & Django, JavaScript & React web and e-commerce applications. Services include custom software development, analysis and solutions to critical issues for companies worldwide.",
    "author": {
      "@type": "Organization",
      "legalName": "Mirumee Software sp. z.o.o.",
      "name": "Mirumee Software",
      "contactPoint": [{
        "@type": "ContactPoint",
        "email": "hello@mirumee.com",
        "contactType": "customer service",
        "url": "https://mirumee.com"
      }],
      "logo": "https://mirumee.com/static/img/logo.svg",
      "sameAs": [
        "http://twitter.com/mirumeelabs",
        "https://github.com/mirumee",
        "https://www.facebook.com/mirumeelabs/",
        "https://www.behance.net/Mirumee",
        "https://dribbble.com/mirumee",
        "https://www.linkedin.com/company/mirumee-software",
        "https://clutch.co/profile/mirumee"
      ]
    }
  }
  
    , {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      
      
      
      
      {
        "@type": "ListItem",
        "position": 1,
        "item":
        {
          "@id": "https://mirumee.com/projects/magrudy",
          "name": "Margrudy case study: From traditional business to successful e-commerce"
        }
      }
      
      
      
      
      
      
      
      
    ]
  }
  
]

    </script>

    <link href="/static/css/app.8b0581e2f0c3e46c5606.css?8b0581e2f0c3e46c5606" rel="stylesheet">
</head>
<body>

<nav id="nav-bar" class="navbar navbar-custom jobs-nav " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#top-menu-collapse">
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" alt="Mirumee Software" src="/static/img/logo-white.svg">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/services">Services</a></li>

                <li><a href="/how-we-work/">How We Work</a></li>

                <li><a href="/#showcase">Showcase</a></li>

                <li><a href="/#opensource">Opensource</a></li>

                <li><a href="/#team">Team</a></li>

                <li><a href="https://blog.mirumee.com/">Blog</a></li>

                <li><a href="/jobs">Careers</a><span class="job-counter">7</span></li>

                <li><a class="hire-btn" href="/hire-us">hire us</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="showcase magrudy">
    <div class="section header parallax">
        <img class="logo parallax_content" src="/static/img/projects/magrudy/magrudys_logo.svg">
        <div class="parallax_bg">
        </div>
    </div>
    <div class="menu-item" id="background">
        <div class="container">
            <div class="section background">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Background</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img class="big-logo" src="/static/img/projects/magrudy/magrudys_exlibris.svg">
                    </div>
                    <div class="col-sm-6 text-block">
                        <p>In <strong>2014</strong> Mirumee was approached by <strong>Gryphon Ventures</strong> to help
                            them modernize the brand of <strong>Magrudy's</strong>: a family-run bookstore chain trading
                            in the <strong>United Arab Emirates</strong> since the 1970s.</p>
                        <p>Our work included refreshing the nearly forty-year-old brand and building an e‑commerce
                            platform to sell their vast catalogue of nearly <strong>9 million unique products</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="responsive">
            <div class="col-sm-4 col">
                <img src="/static/img/projects/magrudy/img1_small.jpg"
                     srcset="/static/img/projects/magrudy/img1_large.jpg 960w,
        /static/img/projects/magrudy/img1_small.jpg 640w"
                     sizes="(max-width: 768px) 100vw, 33vw">
            </div>
            <div class="col-sm-4 col">
                <img src="/static/img/projects/magrudy/img2_small.jpg"
                     srcset="/static/img/projects/magrudy/img2_large.jpg 960w,
        /static/img/projects/magrudy/img2_small.jpg 640w"
                     sizes="(max-width: 768px) 100vw, 33vw">
            </div>
            <div class="col-sm-4 col">
                <img src="/static/img/projects/magrudy/img3_small.jpg"
                     srcset="/static/img/projects/magrudy/img3_large.jpg 960w,
        /static/img/projects/magrudy/img3_small.jpg 640w"
                     sizes="(max-width: 768px) 100vw, 33vw">
            </div>
        </div>
    </div>
    <div class="menu-item solution" id="solution">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Our Solution</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 text-block">
                        <p>Magrudy's <strong>responsive layout</strong> provides a smooth shopping experience across all
                            kinds of devices and resolutions.</p>
                    </div>
                    <div class="col-sm-7">
                        <img class="notebook" src="/static/img/projects/magrudy/notebook.jpg"
                             srcset="/static/img/projects/magrudy/notebook@2x.jpg 2x,
            /static/img/projects/magrudy/notebook.jpg 640w"
                             sizes="(max-width: 768px) 100vw, 58vw">
                    </div>
                </div>
                <div class="row">
                    <img class="books" src="/static/img/projects/magrudy/books.jpg">
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p class="text-center">Customers from all around the globe are able to pay in one of <strong>twelve
                            different currencies</strong>.</p>
                        <p class="text-center">Together with Magrudy's we are constantly looking for ways to improve the
                            shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section responsive">
            <div class="col-sm-4 col">
                <img src="/static/img/projects/magrudy/img4_small.jpg"
                     srcset="/static/img/projects/magrudy/img4_large.jpg 960w,
        /static/img/projects/magrudy/img4_small.jpg 640w"
                     sizes="(max-width: 768px) 100vw, 33vw">
            </div>
            <div class="col-sm-4 col">
                <img src="/static/img/projects/magrudy/img5_small.jpg"
                     srcset="/static/img/projects/magrudy/img5_large.jpg 960w,
        /static/img/projects/magrudy/img5_small.jpg 640w"
                     sizes="(max-width: 768px) 100vw, 33vw">
            </div>
            <div class="col-sm-4 col">
                <img src="/static/img/projects/magrudy/img6_small.jpg"
                     srcset="/static/img/projects/magrudy/img6_large.jpg 960w,
        /static/img/projects/magrudy/img6_small.jpg 640w"
                     sizes="(max-width: 768px) 100vw, 33vw">
            </div>
        </div>
        <div class="container">
            <div class="row section">
                <div class="col-sm-4">
                    <img src="/static/img/projects/magrudy/monitoring.jpg">
                </div>
                <div class="col-sm-8">
                    <p>Under the hood, the processing tier silently processes continuous price and availability updates
                        for over <strong>11 million product records</strong> and nearly <strong>8 million stock
                            records.</strong></p>
                </div>
            </div>
        </div>
        <div class="section parallax row palm">
            <div class="container parallax_content">
                <div class="col-sm-6 pull-right col-xs-12">
                    <img src="/static/img/projects/magrudy/pin.png">
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>To work around lack of formal street addresses in Emirates, Magrudy's unique <strong>Click &amp
                        Collect</strong> service allows customers to pick their orders from participating businesses
                        closest to their home.</p>
                </div>
            </div>
            <div class="parallax_bg">
            </div>
        </div>
        <div class="section menu-item technology" id="technology">
            <div class="container">
                <h1>Technology</h1>
                <img src="/static/img/projects/magrudy/technology_small.jpg"
                     srcset="/static/img/projects/magrudy/technology.jpg 1366w,
        /static/img/projects/magrudy/technology_small.jpg 640w">
            </div>
        </div>
    </div>
</div>


<div class="section section-contact" id="contact">
    <div class="container">
        <div class="row">
            <h2>Work with us</h2>
            <h3 class="contact-email">Our team can be your team</p>
                <p><img class="contact-icon" src="/static/img/contact-icon.png"
                        srcset="/static/img/contact-icon.png 1x, /static/img/contact-icon@2x.png 2x" alt=""/></h3>
            <p class="contact-invitation"><strong>Looking for a quote for your next project?</strong></p>
            <p class="contact-invitation">Take a minute and fill out our project initiation&nbsp;form.</p>
            <p><a class="contact-btn btn" href="/hire-us">We can't wait to hear from you!</a></p>
        </div>
    </div>
</div>
<div class="section section-hq">
    <div class="address-bottom">
        <div class="col-sm-12">
            <h2>HQ</h2>
            <p><span>Mirumee, Tęczowa 7<br>53-601 Wrocław, <br>Poland</span></p>
        </div>
    </div>
    <div id="hq-map"></div>
</div>


<footer class="section section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 columns">
                <h2>Last but not&nbsp;least</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Contact</h4>
                <p><a href="/hire-us">Business inquiry</a></p>
                <p><a href="mailto:hello+partner@mirumee.com">Become a partner</a></p>
                <p><a href="mailto:hello@mirumee.com?subject=Just want to say hello!">Just want to say hello!</a></p>
                <p class="footer-address">
                    Mirumee Software sp. z o.o. sp.k.<br/>
                    ul. Tęczowa 7<br/>
                    53-601 Wrocław, Poland<br/>
                    VAT EU: PL8971845922<br/>
                    KRS: 0000697262
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Social</h4>
                <ul>
                    <li><a href="http://twitter.com/mirumeelabs" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Twitter" alt="Twitter" src="/static/img/social-twitter.png"
                            srcset="/static/img/social-twitter.png 1x, /static/img/social-twitter@2x.png 2x"></a></li>
                    <li><a href="https://github.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive"
                                                                                                 title="GitHub"
                                                                                                 alt="GitHub"
                                                                                                 src="/static/img/social-github.png"
                                                                                                 srcset="/static/img/social-github.png 1x, /static/img/social-github@2x.png 2x"></a>
                    </li>
                    <li><a href="https://www.facebook.com/mirumeelabs/" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Facebook" alt="Facebook" src="/static/img/social-fb.png"
                            srcset="/static/img/social-fb.png 1x, /static/img/social-fb@2x.png 2x"></a></li>
                    <li><a href="https://www.behance.net/Mirumee" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Behance" alt="Behance" src="/static/img/social-behance.png"
                            srcset="/static/img/social-behance.png 1x, /static/img/social-behance@2x.png 2x"
                            rel="noopener"></a></li>
                    <li><a href="https://dribbble.com/mirumee" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Dribble" alt="Dribble" src="/static/img/social-dribble.png"
                            srcset="/static/img/social-dribble.png 1x, /static/img/social-dribble@2x.png 2x"></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Openings</h4>
                <p><a href="/ux-ui-designer">Senior UX/UI Designer</a></p>
                <p><a href="/senior-designer">Senior Designer</a></p>
                <p><a href="/python-django-developer">Python/Django Developer</a></p>
                <p><a href="/business-development-manager">Business Development Manager</a></p>
                <p><a href="/devops-cloud-engineer">DevOps Cloud Engineer</a></p>
                <p><a href="/senior-front-end-developer">Senior Frontend Developer</a></p>
                <p><a href="/content-marketing-specialist">Marketing Content Specialist</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright">Copyright &copy; 2009&ndash;2018 Mirumee&nbsp;Software</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHGURHKG8ve91SoOfyw2aohsXsCGrGbQs"></script>


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10159761-7']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
        h._hjSettings = {hjid: 480056, hjsv: 5};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<script type="text/javascript" src="/js/app.8b0581e2f0c3e46c5606.js?8b0581e2f0c3e46c5606"></script>
<script type="text/javascript" src="/js/map.8b0581e2f0c3e46c5606.js?8b0581e2f0c3e46c5606"></script>
</body>
</html>

