<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="google-site-verification" content="UH3HJEeCS-8mejN-dGzJ8cNYMfGLmedYR7rmwUwPXxM"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Lifesize case study: Implementing B2B e-commerce solutions for video collaboration platform | Mirumee</title>

    <meta name="description"
          content="Mirumee was approached by Lifesize when it was still a part of Logitech. At that time, they didn't yet have an online sales channel. We set to work creating one for them."/>
    <meta property="og:description"
          content="Mirumee was approached by Lifesize when it was still a part of Logitech. At that time, they didn't yet have an online sales channel. We set to work creating one for them."/>

    <meta property="og:title"
          content="Lifesize case study: Implementing B2B e-commerce solutions for video collaboration platform | Mirumee"/>
    <meta property="og:type" content="website"/>

    <meta property="og:image" content="https://mirumee.com/img/projects/lifesize/og-lifesize-case-study.jpg"/>


    <meta property="og:url" content="https://mirumee.com/projects_lifesize"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mirumeelabs"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://mirumee.com",
    "name": "Mirumee Software",
    "description": "Mirumee is a software house specializing in high performance Python & Django, JavaScript & React web and e-commerce applications. Services include custom software development, analysis and solutions to critical issues for companies worldwide.",
    "author": {
      "@type": "Organization",
      "legalName": "Mirumee Software sp. z.o.o.",
      "name": "Mirumee Software",
      "contactPoint": [{
        "@type": "ContactPoint",
        "email": "hello@mirumee.com",
        "contactType": "customer service",
        "url": "https://mirumee.com"
      }],
      "logo": "https://mirumee.com/img/logo.svg",
      "sameAs": [
        "http://twitter.com/mirumeelabs",
        "https://github.com/mirumee",
        "https://www.facebook.com/mirumeelabs/",
        "https://www.behance.net/Mirumee",
        "https://dribbble.com/mirumee",
        "https://www.linkedin.com/company/mirumee-software",
        "https://clutch.co/profile/mirumee"
      ]
    }
  }
  
    , {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      
      
      
      
      
      {
        "@type": "ListItem",
        "position": 1,
        "item":
        {
          "@id": "https://mirumee.com/projects/lifesize",
          "name": "Lifesize case study: Implementing B2B e-commerce solution for video collaboration platform "
        }
      }
      
      
      
      
      
      
      
    ]
  }
  
]

    </script>

    <link href="/static/css/app.8b0581e2f0c3e46c5606.css?8b0581e2f0c3e46c5606" rel="stylesheet">
</head>
<body>

<nav id="nav-bar" class="navbar navbar-custom jobs-nav " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#top-menu-collapse">
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" alt="Mirumee Software" src="/static/img/logo-white.svg">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/services">Services</a></li>

                <li><a href="/how-we-work/">How We Work</a></li>

                <li><a href="/#showcase">Showcase</a></li>

                <li><a href="/#opensource">Opensource</a></li>

                <li><a href="/#team">Team</a></li>

                <li><a href="https://blog.mirumee.com/">Blog</a></li>

                <li><a href="/jobs">Careers</a><span class="job-counter">7</span></li>

                <li><a class="hire-btn" href="/hire-us">hire us</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="showcase lifesize">

    <div class="section header parallax">
        <img class="logo parallax_content" src="/static/img/projects/lifesize/lifesize_logo.svg">
        <div class="parallax_bg">
        </div>
    </div>

    <div class="menu-item" id="background">
        <div class="container">
            <div class="section background">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Background</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <h3>Meeting people is easy they say and now with <em>Lifesize’s</em> solutions it is easier than
                            ever before.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <p>By using cloud-based software, HD camera systems and phones, <em>Lifesize</em> offers a
                            complete conference technology service.</p>
                        <p><em>Lifesize</em> ensures that all of your audio, web and video conferencing will be of the
                            highest quality in crystal clear HD and with top-of-the-line audio. You can also participate
                            in meetings with multiple people in real time and from any device, from laptop to mobile
                            phone.</p>
                    </div>
                    <div class="col-sm-7">
                        <img src="/static/img/projects/lifesize/lifesize_ilustration.svg">
                    </div>
                </div>
            </div>
        </div>


        <div class="performance section">
            <div class="parallax">
                <div class="parallax_bg"></div>
                <div class="parallax_content">
                    <div class="container">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-item solution" id="solution">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Our Solution</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-block">
                        <p><em>Mirumee</em> was approached by <em>Lifesize</em> when it was still a part of
                            <em>Logitech</em>. At that time, they didn’t have an online sales channel yet. We set to
                            work creating one for them.<br>So far we’ve built the first phase of the more complex
                            e-commerce <strong>solution making it easy to buy the license for <em>Lifesize</em> solution
                                and to pay for it online</strong>. They wanted to move to a cloud-based e-commerce
                            solution but lacked the experience on that field.</p>
                        <p><strong><em>Lifesize</em> was looking for a modern framework</strong> that would dovetail
                            into their existing system and from which they could branch out and grow. <em>Mirumee</em>
                            tailor-built a solution for them that successfully handles all their payment options and
                            bolt ons. <strong>We integrated <a
                                    title="Saleor — an open source storefront written in Python"
                                    href="https://getsaleor.com">Saleor</a> with <em>Netsuite</em> to handle their
                                accounting needs and used our own payment gateway</strong> integration so that they
                            could switch from Stripe to others as needed. The entire payment module is an extension of
                            their existing page and includes US interstate tax calculation.</p>
                        <p>The entire project was delivered on time and within the allotted budget, and the cloud-based
                            solution received a great deal of positive press. What’s more, <strong><em>Mirumee</em>
                                successfully past on our know-how of the solution thereby allowing <em>Lifesize</em> to
                                use it on their own.</strong></p>
                    </div>
                    <div class="col-sm-6">
                        <img src="/static/img/projects/lifesize/square.jpg" class="rounded">
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax section">
            <div class="parallax_bg"></div>
            <div class="parallax_content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="quote">Communication - the human connection - is the key to personal and career
                                success</h3>
                            <h4>— Paul J.Meyer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="menu-item section" id="integrations">
        <div class="container">
            <h1>List of integrations</h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="animate-icon">
                        <h5>Fulfillment</h5>
                        <img src="/static/img/projects/lifesize/integrations_01.svg">
                    </div>
                    <p>Placing orders and creating new customers in Lifesize's ERP</p>
                </div>
                <div class="col-sm-4">
                    <div class="animate-icon">
                        <h5>Saleor</h5>
                        <img src="/static/img/projects/lifesize/integrations_02.svg">
                    </div>
                    <p>Orders are only kept in Saleor, users are saved to their API/ERP</p>
                </div>
                <div class="col-sm-4">
                    <div class="animate-icon">
                        <h5>Better payments</h5>
                        <img src="/static/img/projects/lifesize/integrations_03.svg">
                    </div>
                    <p>They use Stripe and AVATAX for payments</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-contact" id="contact">
    <div class="container">
        <div class="row">
            <h2>Work with us</h2>
            <h3 class="contact-email">Our team can be your team</p>
                <p><img class="contact-icon" src="/static/img/contact-icon.png"
                        srcset="/static/img/contact-icon.png 1x, /static/img/contact-icon@2x.png 2x" alt=""/></h3>
            <p class="contact-invitation"><strong>Looking for a quote for your next project?</strong></p>
            <p class="contact-invitation">Take a minute and fill out our project initiation&nbsp;form.</p>
            <p><a class="contact-btn btn" href="/hire-us">We can't wait to hear from you!</a></p>
        </div>
    </div>
</div>
<div class="section section-hq">
    <div class="address-bottom">
        <div class="col-sm-12">
            <h2>HQ</h2>
            <p><span>Mirumee, Tęczowa 7<br>53-601 Wrocław, <br>Poland</span></p>
        </div>
    </div>
    <div id="hq-map"></div>
</div>


<footer class="section section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 columns">
                <h2>Last but not&nbsp;least</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Contact</h4>
                <p><a href="/hire-us">Business inquiry</a></p>
                <p><a href="mailto:hello+partner@mirumee.com">Become a partner</a></p>
                <p><a href="mailto:hello@mirumee.com?subject=Just want to say hello!">Just want to say hello!</a></p>
                <p class="footer-address">
                    Mirumee Software sp. z o.o. sp.k.<br/>
                    ul. Tęczowa 7<br/>
                    53-601 Wrocław, Poland<br/>
                    VAT EU: PL8971845922<br/>
                    KRS: 0000697262
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Social</h4>
                <ul>
                    <li><a href="http://twitter.com/mirumeelabs" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Twitter" alt="Twitter" src="/static/img/social-twitter.png"
                            srcset="/static/img/social-twitter.png 1x, /img/social-twitter@2x.png 2x"></a></li>
                    <li><a href="https://github.com/mirumee" target="_blank" rel="noopener"><img class="img-responsive"
                                                                                                 title="GitHub"
                                                                                                 alt="GitHub"
                                                                                                 src="/static/img/social-github.png"
                                                                                                 srcset="/static/img/social-github.png 1x, /img/social-github@2x.png 2x"></a>
                    </li>
                    <li><a href="https://www.facebook.com/mirumeelabs/" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Facebook" alt="Facebook" src="/static/img/social-fb.png"
                            srcset="/static/img/social-fb.png 1x, /img/social-fb@2x.png 2x"></a></li>
                    <li><a href="https://www.behance.net/Mirumee" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Behance" alt="Behance" src="/static/img/social-behance.png"
                            srcset="/static/img/social-behance.png 1x, /img/social-behance@2x.png 2x"
                            rel="noopener"></a></li>
                    <li><a href="https://dribbble.com/mirumee" target="_blank" rel="noopener"><img
                            class="img-responsive" title="Dribble" alt="Dribble" src="/static/img/social-dribble.png"
                            srcset="/static/img/social-dribble.png 1x, /img/social-dribble@2x.png 2x"></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Openings</h4>
                <p><a href="/jobs/ux-ui-designer">Senior UX/UI Designer</a></p>
                <p><a href="jobs/senior-designer">Senior Designer</a></p>
                <p><a href="/jobs/python-django-developer">Python/Django Developer</a></p>
                <p><a href="/jobs/business-development-manager">Business Development Manager</a></p>
                <p><a href="/jobs/devops-cloud-engineer">DevOps Cloud Engineer</a></p>
                <p><a href="/jobs/senior-front-end-developer">Senior Frontend Developer</a></p>
                <p><a href="/jobs/content-marketing-specialist">Marketing Content Specialist</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright">Copyright &copy; 2009&ndash;2018 Mirumee&nbsp;Software</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHGURHKG8ve91SoOfyw2aohsXsCGrGbQs"></script>


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10159761-7']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
        h._hjSettings = {hjid: 480056, hjsv: 5};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<script type="text/javascript" src="/static/js/app.8b0581e2f0c3e46c5606.js?8b0581e2f0c3e46c5606"></script>
<script type="text/javascript" src="/static/js/map.8b0581e2f0c3e46c5606.js?8b0581e2f0c3e46c5606"></script>
</body>
</html>

